In [325]:
import pandas as pd 
import numpy as np
import requests
from bs4 import BeautifulSoup as soup 
import altair as alt 
import plotly.express as px
from IPython.display import clear_output

In [326]:
dirty = pd.read_csv('datasets/gpa_filtered.csv')
dirty

,Unnamed: 0.1,Unnamed: 0,Year,Term,YearTerm,Subject,Number,Course Title,Sched Type,A+,...,D+,D,D-,F,W,Students,Primary Instructor,Total_Grade_Points,Total_Students,Overall_GPA
0,0,10,2025,Winter,2025-wi,ECON,102,Microeconomic Principles,ONL,44,...,0,1,0,0,0,97,"DiIanni, Isaac",371.01,97,3.824845
1,1,14,2025,Winter,2025-wi,IS,445,Data Visualization,ONL,18,...,0,0,0,0,1,31,"Besser, Stephanie",122.67,31,3.957097
2,2,826,2024,Fall,2024-fa,CS,124,Intro to Computer Science I,OLC,0,...,0,16,0,34,16,1107,"Challen, Geoffrey",4033.21,1107,3.643369
3,3,1048,2024,Fall,2024-fa,ECON,102,Microeconomic Principles,DIS,15,...,0,0,0,0,0,48,"Cueva Chavez, Ronald",163.69,48,3.410208
4,4,1049,2024,Fall,2024-fa,ECON,102,Microeconomic Principles,DIS,7,...,0,0,0,0,0,48,"Cueva Chavez, Ronald",162.35,48,3.382292
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1145,1145,73625,2010,Spring,2010-sp,MATH,231,Calculus II,LCD,2,...,0,3,2,0,0,24,"Szuta, Patryk",67.69,24,2.820417
1146,1146,73626,2010,Spring,2010-sp,MATH,231,Calculus II,LCD,0,...,0,0,0,1,1,22,"Solie, Brent",63.67,22,2.894091
1147,1147,74488,2010,Summer,2010-su,ECON,102,Microeconomic Principles,LCD,0,...,1,0,0,0,0,33,"Vazquez, Jose",103.70,33,3.142424
1148,1148,74489,2010,Summer,2010-su,ECON,102,Microeconomic Principles,LCD,1,...,0,1,0,0,0,26,"Arvin-Rad, Hassan",79.02,26,3.039231
1149,1149,74490,2010,Summer,2010-su,ECON,102,Microeconomic Principles,ONL,2,...,2,2,1,5,1,74,"Vazquez, Jose",194.37,74,2.626622

In [327]:
dirty = dirty.drop('Unnamed: 0', axis=1)
dirty

,Unnamed: 0.1,Year,Term,YearTerm,Subject,Number,Course Title,Sched Type,A+,A,...,D+,D,D-,F,W,Students,Primary Instructor,Total_Grade_Points,Total_Students,Overall_GPA
0,0,2025,Winter,2025-wi,ECON,102,Microeconomic Principles,ONL,44,29,...,0,1,0,0,0,97,"DiIanni, Isaac",371.01,97,3.824845
1,1,2025,Winter,2025-wi,IS,445,Data Visualization,ONL,18,11,...,0,0,0,0,1,31,"Besser, Stephanie",122.67,31,3.957097
2,2,2024,Fall,2024-fa,CS,124,Intro to Computer Science I,OLC,0,819,...,0,16,0,34,16,1107,"Challen, Geoffrey",4033.21,1107,3.643369
3,3,2024,Fall,2024-fa,ECON,102,Microeconomic Principles,DIS,15,10,...,0,0,0,0,0,48,"Cueva Chavez, Ronald",163.69,48,3.410208
4,4,2024,Fall,2024-fa,ECON,102,Microeconomic Principles,DIS,7,13,...,0,0,0,0,0,48,"Cueva Chavez, Ronald",162.35,48,3.382292
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1145,1145,2010,Spring,2010-sp,MATH,231,Calculus II,LCD,2,4,...,0,3,2,0,0,24,"Szuta, Patryk",67.69,24,2.820417
1146,1146,2010,Spring,2010-sp,MATH,231,Calculus II,LCD,0,3,...,0,0,0,1,1,22,"Solie, Brent",63.67,22,2.894091
1147,1147,2010,Summer,2010-su,ECON,102,Microeconomic Principles,LCD,0,8,...,1,0,0,0,0,33,"Vazquez, Jose",103.70,33,3.142424
1148,1148,2010,Summer,2010-su,ECON,102,Microeconomic Principles,LCD,1,4,...,0,1,0,0,0,26,"Arvin-Rad, Hassan",79.02,26,3.039231
1149,1149,2010,Summer,2010-su,ECON,102,Microeconomic Principles,ONL,2,3,...,2,2,1,5,1,74,"Vazquez, Jose",194.37,74,2.626622

In [328]:
grouped = (dirty.groupby(['Primary Instructor', 'Course Title'], as_index=False).agg(
        simple_gpa=('Overall_GPA', 'mean'),
        total_grade_points=('Total_Grade_Points', 'sum'),
        total_students=('Total_Students', 'sum')
    )
)
grouped['weighted_gpa'] = grouped['total_grade_points'] / grouped['total_students']
grouped = grouped.rename(columns={'Primary Instructor' : 'primary_instructor', 'Course Title' : 'course_title'})
grouped

,primary_instructor,course_title,simple_gpa,total_grade_points,total_students,weighted_gpa
0,"Agirdas, Cagdas",Microeconomic Principles,3.101918,434.09,140,3.100643
1,"Ahlgren, Scott",Calculus II,2.887670,3800.26,1369,2.775939
2,"Ahmed, Iftikhar",Calculus II,2.667727,58.69,22,2.667727
3,"Albin, Pierre",Calculus II,2.857759,828.75,290,2.857759
4,"Ambardar, Shivangi",Microeconomic Principles,3.239827,1283.75,396,3.241793
...,...,...,...,...,...,...
195,"Yu, Yueyuan",Microeconomic Principles,3.026555,746.64,241,3.098091
196,"Zhang, Cong",Microeconomic Principles,3.243892,1402.52,432,3.246574
197,"Zharnitsky, Vadim",Calculus II,2.717079,1906.83,700,2.724043
198,"Zubareva, Daria",Microeconomic Principles,2.942513,226.70,77,2.944156
199,"de Mello, Euler",Microeconomic Principles,3.096581,341.00,110,3.100000

In [329]:
def last_first_to_first_last(name):
    parts = [p.strip() for p in name.split(',')]
    if len(parts) == 2:
        last, first = parts
        return f"{first} {last}"
    return name

grouped['primary_instructor'] = grouped['primary_instructor'].apply(last_first_to_first_last)
grouped

,primary_instructor,course_title,simple_gpa,total_grade_points,total_students,weighted_gpa
0,Cagdas Agirdas,Microeconomic Principles,3.101918,434.09,140,3.100643
1,Scott Ahlgren,Calculus II,2.887670,3800.26,1369,2.775939
2,Iftikhar Ahmed,Calculus II,2.667727,58.69,22,2.667727
3,Pierre Albin,Calculus II,2.857759,828.75,290,2.857759
4,Shivangi Ambardar,Microeconomic Principles,3.239827,1283.75,396,3.241793
...,...,...,...,...,...,...
195,Yueyuan Yu,Microeconomic Principles,3.026555,746.64,241,3.098091
196,Cong Zhang,Microeconomic Principles,3.243892,1402.52,432,3.246574
197,Vadim Zharnitsky,Calculus II,2.717079,1906.83,700,2.724043
198,Daria Zubareva,Microeconomic Principles,2.942513,226.70,77,2.944156
199,Euler de Mello,Microeconomic Principles,3.096581,341.00,110,3.100000

In [330]:
grouped[
    grouped['primary_instructor']
           .str.contains('Daniel', case=False, na=False)
]

,primary_instructor,course_title,simple_gpa,total_grade_points,total_students,weighted_gpa
19,Daniel Berwick Evans,Calculus II,2.964776,2843.57,959,2.965141
74,Daniel Halim,Microeconomic Principles,3.411210,535.65,157,3.411783

In [331]:
grouped['primary_instructor'].unique()

array(['Cagdas Agirdas', 'Scott Ahlgren', 'Iftikhar Ahmed',
       'Pierre Albin', 'Shivangi Ambardar', 'Sadra Amiri Moghadam',
       'Mateo Arbelaez Parra', 'Hassan Arvin-Rad', 'Deniz Ay',
       'Diogo Baerlocher Carv', 'Manijeh Bahreini Esfaha',
       'Diloa Bailey Athias', 'Di Bao', 'Yuliy Baryshnikov',
       'Riddhasattam Basu', 'Anahid Bauer', 'Jesse Beder',
       'Sebastiao Benete Reis De', 'Maarten Bergvelt',
       'Daniel Berwick Evans', 'Stephanie Besser', 'Daria Bottan',
       'Steven Bradlow', 'Michael Brannan', 'Jared Bronski',
       'David Buller', 'Justin Burner', 'Maria Cantet', 'Bruce Carpenter',
       'Jiyoung Chae', 'Geoffrey Challen', 'Eui Soon Chang',
       'Youning Chen', 'Yuci Chen', 'Zhuo Chen', 'Tzu-Chang Cheng',
       'Hee Pyung Cho', 'Jer-Chin Chuang', 'Evangelos Constantinou',
       'Diana Cooke', 'Adriana Corredor Waldro', 'Ronald Cueva Chavez',
       "John D'Angelo", 'Sergio De Holanda Roch', 'Robert DeVille',
       'Ethan Dee', 'Keith Dent', 'Isaac DiIanni', 'Felipe Diaz Klaassen',
       'Chen Ding', 'Theresa Dobbs', 'Spencer Dowdall', 'Sofiia Dunets',
       'Iwan Duursma', 'Rui Fan', 'Chiyuan Fang', 'Abdollah Farhoodi',
       'Brian Feld', 'Qinping Feng', 'Santiago Fernandez',
       'Karle Flanagan', 'Lena Folwaczny', 'Kevin Ford', 'Ke Gao',
       'Xing Gao', 'Rebekah Gilbert', 'Monica Gillis',
       'Luke Godwin-Jones', 'Julia Gonzalez', 'Aram Grigoryan', 'Ran Gu',
       'Funda Gultepe', 'Meng Guo', 'Rosemary Guzman', 'Daniel Halim',
       'Andres Ham Gonzalez', 'Xiaolong Han', 'Yuqing Han',
       'Allen Hardiman', 'Jordan Hasler', 'Euijin Hong', 'Yi Huang',
       'Christine Jachetta', 'Chitra Jogani', 'Youngjoo Jung',
       'Marius Junge', 'Ely Kerman', 'Nazanin Khazra', 'Hee Jin Kim',
       'Sarah Kim', 'William Kinnersley', 'Eunhye Kwak',
       'Gabriele La Nave', 'Richard Laugesen', 'Felix Leditzky',
       'Sangmok Lee', 'Christopher Leininger', 'Zening Li', 'Jian Liang',
       'Dan Lior', 'Xinxuan Liu', 'Xinyi Liu', 'Yichen Liu', 'Yingyi Liu',
       'Zhiwei Liu', 'Zichang Liu', 'Stephen Longfield', 'Chang Lu',
       'Kiran Luecke', 'Ruiyang Ma', 'Sen Ma', 'Jaime Ni Martinez Robles',
       'Christos Mavridis', 'Randy McCarthy', 'Grace McCourt',
       'Eduardo Medina-Cortina', 'Angelo Mele', 'Joseph Miles',
       'Tatiana Mocanu', 'Domininkas Mockus', 'Cristhia Molina Gonzalez',
       'Karen Mortensen', 'Sanghee Mun', 'Robert Muncaster',
       'Cassie Murley', 'Robert Murphy', 'Jill Naiman', 'Tayyab Nawaz',
       'Atul Nepal', 'Ha Khanh Nguyen', 'Igor Nikolaev', 'Namgyoon Oh',
       'Timur Oikhberg', 'Ziying Pan', 'Aristote Panagiotopoulos',
       'Hye Jin Park', 'Hyunchul Park', 'Paulo Pereira de Mene',
       'Sarka Petrickova', 'Collin Philipps', 'Laura Placzek',
       'David Quigley', 'Nicolas Quintana Ashwel', 'Blake Riley',
       'Francisco Rios', 'Matthew Romney', 'Kang Rong', 'Jeremy Rouse',
       'Luis Felipe Saenz Munoz', 'Thomas Sahajdack',
       'Mohamadreza Salehi', 'Raul Antonio C Santos',
       'Ignacio Sarmiento Barbi', 'Henry Schenck', 'John Schneider',
       'Monalisa Sen', 'Dana Shaat', 'Mehrnoush Shahhosseini',
       'Rahul Sirohi', 'Takeharu Sogo', 'Brent Solie', 'Jenny Srikant',
       'Sunlee Stechuk', 'Lingling Sun', 'Xinhui Sun',
       'Wojciech Szewerniak', 'Patryk Szuta', 'Chenxi Tang',
       'Ebru Toprak', 'Matthew Turk', 'Salome Tvalodze', 'Jeremy Tyson',
       'Andrew Uhe', 'Irina Valenzuela Rami', 'Javid Validashti Dizg',
       'Jose Vazquez', 'Theodoros Velentzas', 'Vyron Vellis',
       'Shihang Wang', 'Xiaohan Wang', 'Xin Wang', 'Yi Wang',
       'Yiqun Wang', 'Hui Wen', 'Argen West', 'Kim Whittlesey', 'Xuan Wu',
       'Benjamin Wyser', 'Xiaoying Xie', 'Hui Xu', 'Jianfeng Xu',
       'Bei Yang', 'Jie Yang', 'Minh Joo Yi', 'Yueyuan Yu', 'Cong Zhang',
       'Vadim Zharnitsky', 'Daria Zubareva', 'Euler de Mello'],
      dtype=object)

In [332]:
profs = pd.read_csv('datasets/full_dataset.csv')
profs

,Course Number,CRN,Type,Section,Time,Days,Location,Instructor
0,CS 124,74477,Lecture,AL1,ARRANGED,-,-,"Challen, G"
1,CS 124,75242,Lecture,AL2,ARRANGED,-,-,"Challen, G"
2,CS 124,74481,Lab/Discussion,QBA,10:00 AM - 10:50 AM,T,4025 - Campus Instructional Facility,"Challen, G"
3,CS 124,74482,Lab/Discussion,QBB,10:00 AM - 10:50 AM,T,4029 - Campus Instructional Facility,"Challen, G"
4,CS 124,74490,Lab/Discussion,QBC,11:00 AM - 11:50 AM,T,4025 - Campus Instructional Facility,"Challen, G"
...,...,...,...,...,...,...,...,...
190,STAT 107,71689,Laboratory-Discussion,Y40,03:30 PM - 04:50 PM,F,313 - Davenport Hall,NaN
191,STAT 107,78212,Laboratory-Discussion,Y41,03:30 PM - 04:50 PM,F,"1136 - Literatures, Cultures, & Ling",NaN
192,STAT 107,78213,Laboratory-Discussion,Y42,05:00 PM - 06:20 PM,F,313 - Davenport Hall,NaN
193,STAT 107,78771,Laboratory-Discussion,Y43,05:00 PM - 06:20 PM,F,"G32 - Literatures, Cultures, & Ling",NaN
194,STAT 107,79399,Laboratory-Discussion,Y44,05:00 PM - 06:20 PM,F,312 - Davenport Hall,NaN

In [333]:
profs['Instructor'].unique()

array(['Challen, G', 'DiIanni, I', 'Buckley, B', 'Turk, M', 'Naiman, J',
       'Bahreini Esfahani, M', 'Hoffmeister, A', 'Bronski, J', nan,
       'Chuang, J', 'Berwick Evans, D',
       'Fagen-Ulmschneider, W; Flanagan, K'], dtype=object)

In [334]:
len(profs['Instructor'].unique())

12

In [335]:
rmp_data = {
    'primary_instructor' : ['Geoffrey Challen', 'Isaac DiIanni', 'Bryan Buckley', 
                    'Manijeh Bahreini Esfaha', 'April Hoffmeister', 'Jared Bronski', 
                    'Jer-Chin Chuang', 'Daniel Berwick Evans', 'Wade Fagen-Ulmschneider',
                    'Karle Flanagan'], 
    'rating' : [3.3, 4.4, 3.8, 3.9, 4.9, 4.5, 2.3, 4.1, 4.6, 4.9], 
    'level_of_difficulty' : [3.7, 2.6, 2.9, 2.9, 2.9, 2.8, 4.3, 3.6, 2.6, 1.9], 
    'would_take_again' : [0.6, 0.83, 0.67, 0.78, 0.99, 1.0, 0.3, 0.8, 0.92, 0.97], 
    'total_ratings' : [173, 156, 94, 49, 65, 79, 68, 15, 64, 252]}
rmp_df = pd.DataFrame(rmp_data)
rmp_df

,primary_instructor,rating,level_of_difficulty,would_take_again,total_ratings
0,Geoffrey Challen,3.3,3.7,0.60,173
1,Isaac DiIanni,4.4,2.6,0.83,156
2,Bryan Buckley,3.8,2.9,0.67,94
3,Manijeh Bahreini Esfaha,3.9,2.9,0.78,49
4,April Hoffmeister,4.9,2.9,0.99,65
5,Jared Bronski,4.5,2.8,1.00,79
6,Jer-Chin Chuang,2.3,4.3,0.30,68
7,Daniel Berwick Evans,4.1,3.6,0.80,15
8,Wade Fagen-Ulmschneider,4.6,2.6,0.92,64
9,Karle Flanagan,4.9,1.9,0.97,252

In [336]:
df = rmp_df.merge(grouped, on='primary_instructor', how='left')
df

,primary_instructor,rating,level_of_difficulty,would_take_again,total_ratings,course_title,simple_gpa,total_grade_points,total_students,weighted_gpa
0,Geoffrey Challen,3.3,3.7,0.60,173,Intro to Computer Science I,3.564427,23865.20,6608.0,3.611562
1,Isaac DiIanni,4.4,2.6,0.83,156,Microeconomic Principles,3.216907,15924.64,4623.0,3.444655
2,Bryan Buckley,3.8,2.9,0.67,94,NaN,NaN,NaN,NaN,NaN
3,Manijeh Bahreini Esfaha,3.9,2.9,0.78,49,Calculus II,3.095914,11044.51,3556.0,3.105880
4,April Hoffmeister,4.9,2.9,0.99,65,NaN,NaN,NaN,NaN,NaN
5,Jared Bronski,4.5,2.8,1.00,79,Calculus II,2.994208,9527.32,3190.0,2.986621
6,Jer-Chin Chuang,2.3,4.3,0.30,68,Linear Algebra w Computat Appl,3.282757,15058.10,4579.0,3.288513
7,Daniel Berwick Evans,4.1,3.6,0.80,15,Calculus II,2.964776,2843.57,959.0,2.965141
8,Wade Fagen-Ulmschneider,4.6,2.6,0.92,64,NaN,NaN,NaN,NaN,NaN
9,Karle Flanagan,4.9,1.9,0.97,252,Data Science Discovery,3.571818,15598.41,4345.0,3.589968

In [337]:
df['course_code'] = ['CS124', 'ECON102', np.nan, 'MATH231', np.nan, 'MATH231','MATH257', 'MATH231', np.nan, 'STAT107']
df

,primary_instructor,rating,level_of_difficulty,would_take_again,total_ratings,course_title,simple_gpa,total_grade_points,total_students,weighted_gpa,course_code
0,Geoffrey Challen,3.3,3.7,0.60,173,Intro to Computer Science I,3.564427,23865.20,6608.0,3.611562,CS124
1,Isaac DiIanni,4.4,2.6,0.83,156,Microeconomic Principles,3.216907,15924.64,4623.0,3.444655,ECON102
2,Bryan Buckley,3.8,2.9,0.67,94,NaN,NaN,NaN,NaN,NaN,NaN
3,Manijeh Bahreini Esfaha,3.9,2.9,0.78,49,Calculus II,3.095914,11044.51,3556.0,3.105880,MATH231
4,April Hoffmeister,4.9,2.9,0.99,65,NaN,NaN,NaN,NaN,NaN,NaN
5,Jared Bronski,4.5,2.8,1.00,79,Calculus II,2.994208,9527.32,3190.0,2.986621,MATH231
6,Jer-Chin Chuang,2.3,4.3,0.30,68,Linear Algebra w Computat Appl,3.282757,15058.10,4579.0,3.288513,MATH257
7,Daniel Berwick Evans,4.1,3.6,0.80,15,Calculus II,2.964776,2843.57,959.0,2.965141,MATH231
8,Wade Fagen-Ulmschneider,4.6,2.6,0.92,64,NaN,NaN,NaN,NaN,NaN,NaN
9,Karle Flanagan,4.9,1.9,0.97,252,Data Science Discovery,3.571818,15598.41,4345.0,3.589968,STAT107

In [338]:
# df.to_csv('datasets/fa25_profs_gpa_rmp.csv')

In [402]:
def make_grouped_bar_chart(df, bar_size=40, height=400):
    if df.empty:
        return alt.Chart(pd.DataFrame({'x':[], 'y':[]})).mark_bar()

    # 3a) compute a 0-based index for each instructor in its course
    df = df.copy()
    df['instr_idx'] = df.groupby('course_code').cumcount()
    # 3b) how many instructors in each course?
    df['group_size'] = df.groupby('course_code').course_code.transform('count')
    # 3c) pixel offset so that bars butt up exactly next to each other
    #     offset = (idx - (n-1)/2) * bar_size
    df['x_offset'] = (df['instr_idx'] - (df['group_size'] - 1)/2) * bar_size

    # 3d) pick a width so that adjacent course-groups never collide.
    #     If you want them exactly butt-to-butt, use (group_size*bar_size)*(n_courses-1).
    #     Here I’ll leave a little extra padding.
    n = df['course_code'].nunique()
    max_group = df['group_size'].max()
    cluster_width = max_group * bar_size
    width = max(300, int(cluster_width*(n-1) + bar_size*2))

    hover = alt.selection_single(on='mouseover', nearest=True, empty='none')

    return (
      alt.Chart(df).mark_bar(size=bar_size).encode(
        x=alt.X('course_code:O',
                axis=alt.Axis(labelAngle=-45, title='Course'),
                sort=None,                 # keep insertion order
                scale=alt.Scale(padding=0)# a bit of outer breathing room
               ),
        xOffset=alt.XOffset('x_offset:Q'),
        y=alt.Y('weighted_gpa:Q', axis=alt.Axis(title='Weighted GPA')),
        color=alt.Color('primary_instructor:N', title='Professor'),
        opacity=alt.condition(hover, alt.value(1.0), alt.value(0.6)),
        tooltip=[
          alt.Tooltip('course_code:N', title='Course'),
          alt.Tooltip('primary_instructor:N', title='Professor'),
          alt.Tooltip('weighted_gpa:Q', title='Weighted GPA', format='.2f')
        ]
      )
      .add_selection(hover)
      .properties(width=width, height=height,
                  title='Weighted GPA by Course and Professor')
      .configure_title(fontSize=18, anchor='middle')
    )

In [403]:
make_grouped_bar_chart(df)

/var/folders/v4/50bt2ht50r17swtdj020c0580000gn/T/ipykernel_53649/2704474996.py:22: AltairDeprecationWarning:


Deprecated since `altair=5.0.0`. Use selection_point instead.

/var/folders/v4/50bt2ht50r17swtdj020c0580000gn/T/ipykernel_53649/2704474996.py:41: AltairDeprecationWarning:


Deprecated since `altair=5.0.0`. Use add_params instead.

alt.Chart(...)

In [404]:
graph_df = pd.DataFrame(columns=df.columns)

def add_course(course_code: str):
    global graph_df
    # pull matching rows
    rows = df[df['course_code'] == course_code]
    if rows.empty:
        print(f"⚠️ No course '{course_code}' in original data.")
        return make_grouped_bar_chart(graph_df)
    # drop any that are already in graph_df
    new_rows = rows.loc[
        ~rows.apply(tuple, axis=1).isin(graph_df.apply(tuple, axis=1))
    ]
    if new_rows.empty:
        print(f"ℹ️ '{course_code}' already added.")
    else:
        graph_df = pd.concat([graph_df, new_rows], ignore_index=True)
    return make_grouped_bar_chart(graph_df)

def remove_course(course_code: str):
    global graph_df
    graph_df = graph_df[graph_df['course_code'] != course_code].reset_index(drop=True)
    return make_grouped_bar_chart(graph_df)

In [405]:
add_course('CS124')

/var/folders/v4/50bt2ht50r17swtdj020c0580000gn/T/ipykernel_53649/3250029951.py:17: FutureWarning:

The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.

/var/folders/v4/50bt2ht50r17swtdj020c0580000gn/T/ipykernel_53649/2704474996.py:22: AltairDeprecationWarning:


Deprecated since `altair=5.0.0`. Use selection_point instead.

/var/folders/v4/50bt2ht50r17swtdj020c0580000gn/T/ipykernel_53649/2704474996.py:41: AltairDeprecationWarning:


Deprecated since `altair=5.0.0`. Use add_params instead.

alt.Chart(...)

In [406]:
add_course('MATH231')
add_course('ECON102')

/var/folders/v4/50bt2ht50r17swtdj020c0580000gn/T/ipykernel_53649/2704474996.py:22: AltairDeprecationWarning:


Deprecated since `altair=5.0.0`. Use selection_point instead.

/var/folders/v4/50bt2ht50r17swtdj020c0580000gn/T/ipykernel_53649/2704474996.py:41: AltairDeprecationWarning:


Deprecated since `altair=5.0.0`. Use add_params instead.

/var/folders/v4/50bt2ht50r17swtdj020c0580000gn/T/ipykernel_53649/2704474996.py:22: AltairDeprecationWarning:


Deprecated since `altair=5.0.0`. Use selection_point instead.

/var/folders/v4/50bt2ht50r17swtdj020c0580000gn/T/ipykernel_53649/2704474996.py:41: AltairDeprecationWarning:


Deprecated since `altair=5.0.0`. Use add_params instead.

alt.Chart(...)